
*
{
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

html, body
{
	width: 100%;
	height: 100%;

	background: #000;
}

.nav-lock
{
	overflow: hidden;
}

.center-y
{
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.tween
{
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.page-wrapper
{
	width: 100%;
	height: 100%;

	position: absolute;
}

.page-wrapper-nav-fx
{
	opacity: 0.2;
}

.page-wrapper-tween
{
	-webkit-transition: opacity 400ms ease-out;
	transition: opacity 400ms ease-out;
}

.page-content
{
	width: 100%;
	height: 100%;
	position: relative;

	font-size: 40px;
}

.side-l
{
	width: 50%;
	height: 100%;
	left: 0; top: 0;
	position: absolute;
	background: black;
}

.side-r
{
	width: 50%;
	height: 100%;
	right: 0; top: 0;
	position: absolute;
	background: grey;
}

.page-content h1
{
	width: 100%;
	position: relative;
	color: #fff;

	font-family: sans-serif;
	font-family: 'Baloo', cursive;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;
}



.page-box
{
	width: 100%;
	height: 50%;
	position: relative;
	display: block;
}

.page-box-tl
{
	background: #E9A621;
}

.page-box-tr
{
	background: #CA7508;
}

.page-box-bl
{
	background: #763262;
}

.page-box-br
{
	background: #00225D;
}

navigation
{
	width: 100%;
	position: fixed;

	left: 0; top: 0;
}

navigation .nav-icon, navigation .close-icon
{
	width: 60px;
	height: 60px;
	position: relative;

	margin: 20px 20px 0 auto;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;

	cursor: pointer;
}

navigation .nav-icon
{
	background-image: url(../img/nav-icon.svg);
}

navigation .close-icon
{
	background-image: url(../img/close-icon.svg);
}

.nav-list
{
	width: 100%;
	height: 100%;

	position: absolute;

	background: rgb(35, 35, 35);

	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-tween
{
	-webkit-transition: -webkit-transform 400ms ease-out;
	transition: transform 400ms ease-out;
}

.nav-list-hide
{
/*	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);*/

	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.nav-list .nav-links
{
	width: 90%;
	position: relative;
	margin: 0 auto;
}

.nav-list .nav-links ul
{
	width: 100%;
	position: relative;
	list-style: none;

	font-size: 80px;

	color: #ff0033;
}

.nav-list .nav-links li
{
	font-family: sans-serif;
	font-family: 'Baloo', cursive;
	font-size: 1em;
	text-align: center;
	text-transform: uppercase;
	line-height: 1;

	padding: 0.5em 0;
}

.nav-list .nav-links a
{
	color: #ff0033;
	text-decoration: none;

	-webkit-transition: 200ms linear;
	transition: 200ms linear;
}

.nav-list .nav-links a:hover
{
	color: #fff;
}


@media (min-width: 300px)
{
	.page-content
	{
		font-size: 30px;
	}

	navigation .nav-icon, navigation .close-icon
	{
		width: 40px;
		height: 40px;		
	}

	.side-l
	{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.side-r
	{
		width: 100%;
		height: 100%;
		position: relative;
	}

	.nav-list .nav-links ul
	{
		font-size: 40px;
	}
}

@media (min-width: 600px)
{
	.page-content
	{
		font-size: 60px;
	}

	navigation .nav-icon, navigation .close-icon
	{
		width: 60px;
		height: 60px;		
	}

	.nav-list .nav-links ul
	{
		font-size: 60px;
	}
}

@media (min-width: 900px)
{
	.page-content
	{
		font-size: 60px;
	}

	.side-l
	{
		width: 50%;
		height: 100%;
		left: 0; top: 0;
		position: absolute;
	}

	.side-r
	{
		width: 50%;
		height: 100%;
		right: 0; top: 0;
		position: absolute;
	}

	.nav-list .nav-links ul
	{
		font-size: 80px;
	}
}

@media (min-width: 1200px)
{
	.page-content
	{
		font-size: 100px;
	}	
}